.square {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 32px;
    font-weight: bold;
    height: 64px;
    width: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.winning-square {
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 5px #90ee90;
    }
    to {
      box-shadow: 0 0 15px #388e3c;
    }
}
  