.square {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 32px;
    font-weight: bold;
    height: 64px;
    width: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}